*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    min-height: 100vh;
    background-image: url("img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 85%;
    margin: auto;
}

nav{
height: 80px;
}
nav h1{
    float: left;
    line-height: 80px;
    font-size: 35px;
    font-size: inline;
    color: rgb(219, 38, 62);
}
nav ul{
    float: right;
    line-height: 80px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
}
nav ul li a{
    color: aliceblue;
   text-decoration: none;
   text-transform: uppercase;
   border-radius: 5px;
   padding: 7px 8px;
}
nav ul li a:hover{
    background-color: rgb(219, 38, 62);
    transition: 0.3s ease-in;
}
nav ul li .activate{
    background-color: palevioletred;
}

.page{
    width: 50%;
    margin:auto ;
    text-align: center;
    transform: traslateV(25vh);
}
.page h1{
    font-size: 35px;
    color: whitesmoke;
    letter-spacing: 1.5px;
    font-style: italic;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 25px;
}
.page p{
    font-size: 18px;
    color: #f7eeee;
    line-height: 1.5;
    margin-bottom: 50px;
}
.page .btn{
    color: #fff;
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f15048;
    border-radius: 10px;
}
.page .btn:hover{
    background-color: #f1d327;
    transition: 0.3 ease;
}